/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* src/App.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

form{
margin: 20% auto;
background: skyblue;
width: 400px;
height: 200px;
}
.form-item{
   display: flex;
   flex-direction: column;
   padding: 30px;
   align-items: center;
   justify-content: center;
}
.form-item input{
  padding: 10px 30px ;
  border-radius: 10px;
  margin-top: 10px;

}
button{
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-left:  40% ;
  background-color: rgb(61, 199, 121);
}
.output{
  margin: 0 auto;
  width: 400px;
  font-size: large;
  font-weight: 600;
}


